.cardimage-title{
    width: 70px;
height: 70px;
margin-top: -37%;
margin-left: 33%;
}
.ant-card-head-title{
    margin-bottom: 14%;;
margin-left: 92px;
}
.waperscard{
    padding: 20px;
}
.cardmain{
    display: flex;
    justify-content: center;
}
.ant-card{
    height: 260px;
}