.fouter{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.virtualmassege{
    display: flex;
    color: white;
    padding-top: 60px;
}
.virtualmassege p{
    margin-top: -36px;
position: absolute;
margin-left: -48px;
}
.virtualmassege a{
    margin-left: 9px;
}
.fouter img{
    width: 30px;
    margin: 1%;
}
.about p{
    color: white;
    text-align: center;
}
.about h3{
    color: white;
text-align: center;
}